{% include 'global/base.html' %}

<div class="container">
    <div class="align-items-center">
        <form  method="post" action="{% url 'pesquisa' %}" style="width:100%; display:flex; justify-content: center" class="row gy-2 gx-3">
            {% csrf_token %}
            <div style="width: 70%; padding: 15px" class="col-auto">
                <input style="width: 100%; padding: 10px" type="text" class="form-control" name="search" id="search" placeholder="Pesquisar Produto">
            </div>
            <div style="padding: 15px" class="col-auto">
                <button style="padding: 10px; width:50px; border-radius: 50px" type="submit" class="btn btn-primary"> <i class="fab fa-searchengin"></i></button>
            </div>
        </form>
    </div>  
</div>
{% include 'global/partials/footer.html' %}