{% include 'global/base.html' %}

<div class="container">
    <div class="align-items-center">
        <form  method="post" action="{% url 'pesquisa' %}" style="width:100%; display:flex; justify-content: center" class="row gy-2 gx-3">
            {% csrf_token %}
            <div style="width: 70%; padding: 15px" class="col-auto">
                <input style="width: 100%; padding: 10px" type="text" class="form-control" name="search" id="search" placeholder="Pesquisar Produto">
            </div>
            <div style="padding: 15px" class="col-auto">
                <button style="padding: 10px; width:50px; border-radius: 50px" type="submit" class="btn btn-primary"> <i class="fab fa-searchengin"></i></button>
            </div>
        </form>
    </div>  
</div>

<div class="container text-center">
    <br>
    <h1>Resultados para: {{titulo}}</h1>
    <br>
    <div class="row">
{% for produto in produtos %}
        <div class="col row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="p-3 card" style="width: 18rem;">
                <img width="100px" height="150px" src="{{produto.image}}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">{{produto.title}}</p>
                <h5 class="card-title">R${{produto.price}}.</h5>
                {% if produto.store == 1 %}
                    <p class="card-text">Loja: <img width="60px" src="https://logospng.org/download/mercado-livre/logo-mercado-livre-256.png"/></p>
                {% elif produto.store == 2 %}
                    <p class="card-text">Loja: <img width="60px" src="https://logospng.org/download/shopee/logo-shopee-256.png"/></p>
                {% elif produto.store == 3 %}
                    <p class="card-text">Loja: <img width="60px" src="https://vendedor.magazineluiza.com.br/_nuxt/icons/icon_512x512.d60cf5.png"/></p>
                {% elif produto.store == 4 %}
                    <p class="card-text">Loja: <img width="60px" src="https://logospng.org/download/amazon/logo-amazon-256.png"/></p>
                {% endif %}
                <br>
                <a target="_blank" href="{{produto.link}}" class="btn btn-primary">Ver Preços</a>
                </div>
            </div>
        </div>
{% endfor %}
    </div>
</div>
{% include 'global/partials/footer.html' %}